*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  clear: both;
  display: table;
  content: "";
}
#header {
  margin: 1.5rem;
  margin-left: 4.5rem;
  float: left;
  font-size: 1.8rem;
}
#nav {
  margin-top: 1.5rem;
  float: left;
}

ul {
  list-style: none;
  display: inline-flex;
  margin: 1.5rem;
}
ul li {
  padding-left: 6rem;
  padding-right: 6rem;
}
ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
.bemutatkozas-szoveg {
  background: url("/images/charles-deluvio-pjAH2Ax4uWk-unsplash.jpg");
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.bemutatkozas-szoveg-al {
  position: absolute;
  width: 100%;
}
.egy {
  font-size: 3rem;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.ketto {
  font-size: 1.9rem;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.bemutatkozas-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.tulajdonsag {
  box-shadow: 5px 10px rgb(206, 206, 206);
  margin: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  width: 200px;
  height: 300px;
  background-color: white;
  color: black;
  border-radius: 2%;
  font-size: 3rem;
  float: left;
}
.tulajdonsag:hover {
  transition: 1s;

  transform: translateY(-2rem) scale(1.1);
}

.tulajdonsag-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bemutatkozas-kep {
  background-image: url("/images/fantasy-2995326_1920.jpg");
  overflow: hidden;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

footer {
  margin-bottom: 5rem;
}
.h5-mammut {
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: 4rem;
  margin-left: 2rem;
}
.fa-customize-ikonok {
  font-size: 5rem;
  color: white;
  margin: 2rem;
  margin-left: 7.8rem;
}
.fa-customize {
  font-size: 5rem;
  color: white;
  margin: 2rem;
  float: right;
  margin-right: 5rem;
}

.kaland {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  font-size: 5rem;
  width: 100%;
}
/*!                                WORKS                            */

.munkaim-szamok img {
  width: 40%;
  margin-bottom: 5rem;
  margin-top: 10rem;
}
.munkanev {
  width: 55%;
  float: left;
  margin-left: 3rem;
  margin-top: 13rem;
  font-size: 1.8rem;
}
.munkanev p {
  margin-top: 3rem;
}
.munkanev a {
  color: red;
}
.munkaim-szamok-1 {
  position: relative;
}
